header{
    width:100%;
}

header nav{
    background:#023859;
    z-index:1000;
    max-width:1000px;
    width: 95%;
    margin:20px auto;
}

header nav ul{
    list-style:none;
}
header nav ul li{
    display:inline-block;
    position:relative;
}
header nav ul li:hover{
    background:#047dc8 ;
}

header nav ul li a{

    color:#fff;
    display:block;
    text-decoration: none;
    padding:20px;
}


header nav ul li:hover .children{
    display:block;
}
header nav ul li .children{
    display:none;
    background:#011826;
    position:absolute;
    width:150%;
    z-index:1000;
}
header nav ul li .children li{
    display:block;
    overflow:hidden;
    border-bottom:1px solid rgba(255,255,255,.5)

}
header nav ul li .children li a{
    display:block;
}

