<<<<<<< HEAD
<<<<<<< HEAD
html {
	height: 100%;
	width: 100%;
	font-family: Arial;
}
header {
	top:0;
	margin: 0;
	padding: 0;
	height: 7em;
	width: 100%;	
	background-image: url("imagenes/Fondo_header.jpg");
	background-size: cover;
	position: fixed;
}
#headleft {
	float:left;
	width: 20%;
	height: 100%;	
}
#headleft img {
	width: 50%;
	height: 100%;		
}
#headcenter {
	float: left;
	width: 60%;
	height: 100%;
	text-align: center;
}
#headright {
	float: left;
	width: 20%;
	height: 100%;
}
#flagone {
	float: left;
	width: 100%;
}
#flagtwo {
	float: left;
	width: 100%;
}
#imgesp {
	display:block;
	margin-left: auto;
	padding: 0;
	width: 50%;
	height: 75%;
}
.icoIdiomas {
	display: block;
	float: right;
	margin: auto;
	padding: 5px;
	width: 12%;
	height: 12%;
}

nav {
	top: 7em;
	height:2.7em;
	width: 100%;
	background-color: #023859;
position: fixed;	
}
nav ul{
    background:#023859;
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    position: static;
    text-align: center;
=======
/* Adrian */
header {
    width: 100%;
    height: 120px;
}
body
{
    width: 100%;
    height: 100%;
	margin:0;
}

nav {
    width: 100%;
    height: 118px;

}
section {
    width: 100%;
    height: 350px;

}
.cab { 
    background-image: url("imagenes/Fondo_header.jpg");
    background-size: 100%, 50%;
    width: 100%;
    height: 140px;
    position: fixed;
    top:0;
    right:0;
    margin-left: 150px;
}
#en {
    margin-right: 126px;
    text-align: center;
    line-height: 50%;
    color:rgb(3, 6, 100);
}
#diw {
    width:162px;
    height:140px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
#esp {
    float: right;
    width:126px;
    height: 61px;
}
#icoIdiomas {
    width: 25px;
    height: 25px;
}
p {
    float: right;
    font-family: "Arial Black";
}
/* Isvaku */
nav{
    background:#023859;
    z-index:1000;
    width: 100%;
    top:140px;
    height: 15%;
    margin:20px auto;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul{
    text-align: center;
    list-style:none;
>>>>>>> Añadido la combinacion
}

nav ul li{
    display:inline-block;
    position: relative;
}

nav ul li:hover{
    background:#047dc8 ;
}

nav ul li a{
<<<<<<< HEAD
=======

>>>>>>> Añadido la combinacion
    color:#fff;
    display:block;
    text-decoration: none;
    padding:20px;
}

nav ul li:hover .children{
    display:block;
}

<<<<<<< HEAD
nav ul li ul{
=======
nav ul li .children{
>>>>>>> Añadido la combinacion
    display:none;
    background:#011826;
    position:absolute;
    width:150%;
<<<<<<< HEAD
=======
    z-index:1000;
    text-align: center;

>>>>>>> Añadido la combinacion
}

#largos{
    width:400%;
<<<<<<< HEAD
} 
nav ul li .children li{
    display:block;
}

main {
	top: 9.7em;
}
footer {
    width:100%;
    height: 12%;
    background-color:#047dc8;
	border-top-color:1px solid rgba(255,255,255,.5);
    text-align:center;
    bottom: 0;
}
img#logotipo
{
	width:5%;
	height:5%;
	float:left;
}
.imgfooter
{
	width:2.5%;
	height:2.5%;
	text-align:center;
	margin:5px;
}





=======
=======
}

#cortos{
    width:75%;
}

nav ul li .children li{
    display:block;
    overflow:hidden;
    border-bottom:1px solid rgba(255,255,255,.5)

}

nav ul li .children li a{
    display:block;
}

 #ciclo{
    font-family:Arial, Helvetica, sans-serif;
}
/* Natan */
>>>>>>> Añadido la combinacion
footer
{
	border-top-style:inset;
	border-top-color:1px solid rgba(255,255,255,.5);
	margin-top:10px;
	background-color:#047dc8;
	padding:2px;
    width:100%;
    height: 20%;
	text-align:center;
	clear:both;
}
img#logotipo
{
	width:5%;
	height:5%;
	float:left;
}
.pfooter
{
	color:black;
	font-size:20px;
	margin-left:109px;
}
#uni
{
	float:left;
	margin-bottom:2px;
	margin-right:200px;
	margin-left:700px;
	width:500px;
	height:300px;
}
#titulo{
	text-align:center;
	font-size:32px;
}
#cuerpo
{
	margin-left:
	clear:both;
}
#menu
{
	margin-top:20px;
	float:left;
	margin-bottom:30px;
	margin-left:300px;
	width:55%;
	height:500px;
}
iframe
{
	float:left;
	width:600px; 
	height:460px; 
	border:0;
	margin-bottom:20px;
	margin-right:10px;
}
#registrate
{
	width:380px;
	height:450px;
	float:left;
}
.datos
{
	width:300px;
	height:180px;
	float:left;
	margin-left:20px;
}
<<<<<<< HEAD
>>>>>>> Realizado el formulario y el footer
=======
hr
{
	width:30%;
	height:4%;
}
.imgfooter
{
	width:2.5%;
	height:2.5%;
	text-align:center;
	margin:5px;
}
>>>>>>> Realizado la actualización del footer
